footer {
    background: #111;
    color: #ffffffbb;
}
.footerMainWrapper {
    padding: 10px 30px;
}
.footerMainWrapper span {
    color: #ffa01a;
}
.footerMainWrapper a {
    color: inherit;
}
.footerInfo,
.footerAbout,
.footerSocial,
.footerTop,
.footerLegal,
.footerContact {
    gap: 5px;
    padding: 10px 0;
    border-bottom: solid 0.5px #ffffff55;
}
.footerTop {
    position: relative;
    align-items: center;
    gap: 10px;
}
.footerTop > div {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footerTop > div > p {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a05d00;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}
.footerTop > div > p:hover {
    transform: scale(1.1);
}
.footerMiddle {
    display: flex;
    flex-direction: column;
}
.footerInfo i {
    margin-right: 10px;
}
.footerSocial {
    position: relative;
    gap: 10px;
    align-items: center;
}
.footerSocial > div {
    display: flex;
    gap: 20px;
}
.footerSocial > div > p {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.7px #ffffff33;
    border-radius: 50%;
    background-image: radial-gradient(circle at 0 0, #ffffff, transparent 30%);
    cursor: pointer;
    transition: 0.1s;
}
.footerSocial > div > i:hover {
    transform: scale(1.1);
}
.footerContact {
    gap: 10px;
}
.footerContact > div {
    gap: 10px;
}
.footerContact > div > div {
    display: flex;
    gap: 10px;
}
button.styledInput1 {
    background: #a05d00;
    color: white;
}
.footerLegal > p {
    font-size: 14px;
    text-align: center;
}

.footerDeveloper p {
    font-size: 10px;
    text-align: center;
    color: #ffffff99;
    padding: 10px 0 5px 0;
}

/* Footer Settings */
.footerSettingsButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}
.footerTopSettings, .footerMiddleSettings {
    margin-top: -3px;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}
.footerMiddleSettings {
    margin-top: 0;
    width: 100%;
    gap: 10px !important;
}
.footerTopSettingsOn, .footerMiddleSettingsOn {
    max-height: 500px;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .footerMainWrapper {
        padding: 0 0 5px 0;
    }
    .footerMainWrapper p {
        font-family: var(--thinBendFont);
    }
    .footerInfo,
    .footerAbout,
    .footerSocial,
    .footerTop,
    .footerLegal,
    .footerContact {
        gap: 10px;
        padding: 20px 0;
        border-bottom: none;
    }
    .footerSocial,
    .footerLegal {
        border-bottom: solid 0.5px #ffffff33;
    }
    .footerMiddleMainWrapper {
        display: flex;
        border-top: solid 0.5px #ffffff33;
        border-bottom: solid 0.5px #ffffff33;
        padding: 0 30px;
    }
    .footerMiddleMainWrapper > div {
        width: calc(100%/3);
        border-right: solid 0.5px #ffffff33;
        padding: 20px;
    }
    .footerAbout {
        line-height: 1.8rem;
    }
    .footerMiddleMainWrapper > div:nth-child(3) {
        border-right: none;
    }
    .footerContact > p, .footerInfo {
        padding-top: 5px;
    }
    .footerTopSettings, .footerMiddleSettings {
        width: 30%;
        margin: -50px 50px 40px auto;
    }
}