.riskPageWrapper > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-top: solid 0.5px #00000044;
    border-bottom: solid 0.5px #00000044;
    background-color: #ffffffbb;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.riskPageWrapper > div:nth-child(1) {
    border-top: none;
}
.riskPageWrapper > div:nth-child(3) {
    margin-bottom: 0;
    border-bottom: none;
}
.risk1PageImagesWrapper, .risk2PageImagesWrapper {
    display: flex;
}
.riskImageWrapper {
    width: calc(100%/3);
    border: solid 2px #fff;
    margin: 10px 0;
}
.riskImageWrapper > img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.riskImageWrapper:nth-of-type(odd) {
    transform: rotate(5deg);
}
.riskImageWrapper:nth-of-type(even) {
    transform: rotate(-5deg);
}
.riskPageWrapper > div p {
    font-family: var(--formalFont);
    color: #555;
}
.riskPageWrapper > div h2 {
    font-family: var(--formalFont);
}

/* Laptop scale */
@media (min-width: 1024px) {
    .riskPageWrapper > div {
        padding: 30px 200px;
        gap: 30px;
    }
    .riskImageWrapper > img {
        height: 250px;
    }
}