.section2 {
    background-color: var(--bgLight);
    border-bottom: var(--thinDarkBorder);
}
.section2 > div {
    background: #ffffffcc;
}
.section2 i {
    margin-right: 10px;
}
.section2 a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
.section2 > div > h1 {
    padding: 10px;
    text-align: center;
    background-color: #5f94d8;
    color: #fff;
}
.sec2Contact {
    display: flex;
    justify-content: space-between;
    border-top: var(--thinDarkBorder);
    border-bottom: var(--thinDarkBorder);
    padding: 20px;
    gap: 10px;
}
.sec2Ads {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .section2 > div {
        background: #ffffffee;
    }
    .sec2Contact {
        padding: 20px 50px;
    }
    .sec2Ads {
        flex-direction: row;
        justify-content: space-around;
    }
}