:root {
    /* Light Mode */
    --bgLight: #ffffff;
    --textLight: #111111;

    /* Dark Mode */
    --bgDark: #111111;
    --textDark: #ffffff;

    /* Other Colors */
    --black0: #000;
    --black1: #111;
    --greyDark: #444;
    --greyMiddle: #666;
    --greyLight: #888;
    --bgGreyLight: #eee;
    --transBack: #ffffff99;
    --bgBToP: linear-gradient(to right, #5558ec, #cd78ff);

    /* BORDERS */
    --thinDarkBorder: solid 0.5px #00000055;
    --thinBrightBorder: solid 0.5px #ffffff33;
    --thickDarkBorder: solid 1px #00000033;

    /* FONT FAMILIES */
    --thinBendFont: 'Dosis', sans-serif;
    --thinStraighFont: "Wire One", sans-serif;
    --scriptFont: 'Parisienne', cursive;
    --formalFont: "Dosis", sans-serif;
    
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: var(--thinBendFont);
    text-decoration: none;
    font-weight: normal;
}
main > section, footer {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap5 {
    gap: 5px;
}
button {
    cursor: pointer;
}
button:hover {
    filter: brightness(80%);
}
textarea {
    resize: none;
}
b {
    font-weight: bold;
}
.styledInput1 {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.navPage {
    padding-top: 70px;
    background-image: url('/images/lines.png');
    background-attachment: fixed;
    background-size: 100% 50%;
    background-color: #eee;
}
.bgLines {
    background-image: url('/images/lines.png');
    background-attachment: fixed;
    background-size: 100% 50%;
    background-color: #eee;
}
.bordered7 {
    border: solid 0.7px #00000055;
}
.squared40 {
    width: 40px;
    height: 40px;
}
.settingsBtn {
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #00000055;
    border-radius: 50%;
}
.settingsBtn > div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
}


/* Laptop scale */
@media (min-width: 1024px) {
    p {
        font-family: var(--formalFont);
    }
    .navPage {
        padding-top: 60px;
        background-size: 100% 100%;
    }
    .bgLines {
        background-size: 100% 100%;
    }
    .styledInput1 {
        padding: 5px 10px;
    }
}